@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
} */

* {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.cursor-hover-animation {
  overflow: hidden;
}
.cursor-hover-animation::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    #feff8620 20%,
    #feff8650 70%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 1500ms infinite;
  animation: shimmer 1500ms infinite;
  content: "";
}
@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

button {
  cursor: none;
}

.btnWithSlider {
  --button-text-color: white;
  --button-text-color-hover: white;
  --border-color: #7d8082;
  --button-background-color: #ece8e1;
  --highlight-color: #e95420;

  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.btnWithSlider::before,
.btnWithSlider::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btnWithSlider::before {
  top: 0;
  border-bottom-width: 0;
}

.btnWithSlider::after {
  bottom: 0;
  border-top-width: 0;
}

.btnWithSlider:active,
.btnWithSlider:focus {
  outline: none;
}

.btnWithSlider:active::before,
.btnWithSlider:active::after {
  right: 3px;
  left: 3px;
}

.btnWithSlider:active::before {
  top: 3px;
}

.btnWithSlider:active::after {
  bottom: 3px;
}

.sliderWrapper {
  position: relative;
  display: block;
  padding: 10px 30px;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.btnSlider {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 1s ease;
}

.sliderContent {
  position: relative;
}

.btnWithSlider:hover {
  color: white;
}

.btnWithSlider:hover .btnSlider {
  width: calc(100% + 15px);
}

.Arialic_Hollow {
  font-family: "Arialic Hollow";
}

.custom-scroll-bar-y {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
.custom-scroll-bar-y::-webkit-scrollbar {
  width: 100%;
  height: 4px;
}

.custom-scroll-bar-y::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.custom-scroll-bar-y::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1px;
}

.custom-scroll-bar-x {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Chrome, Edge, and Safari */
.custom-scroll-bar-x::-webkit-scrollbar {
  width: 6px;
  height: 100%;
}

.custom-scroll-bar-x::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

.custom-scroll-bar-x::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1px;
}
